body {
    margin: 0;
    font-family: Arial, sans-serif;
    min-height: 100%;
    width: 100%;
    margin-top: 0px;
    /* background-image: linear-gradient(45deg, #232a4d, #181c2f); */
    background-color: #181c2f;
}

#intro-text {
    width: 100%;
    text-align: center;
    margin-top: 0px;
}

#answer {
    width: 100%;
    text-align: center;
    margin-top: 0px;
}

#intro-text h1 {
    font-size: 50px;
    color: rgb(255, 255, 255);
    font-family: 'ABCDiatype';
    /* background-image: linear-gradient(rgb(0, 221, 255), rgb(7, 48, 84)); */
    /* background-color: #e89135; */
    /* padding: 30px; */
    display: block;
    /* border-radius: 25px; */
    /* border-width: 100px; */
    margin-top: 50px;
    margin-bottom: 120px;
}

#intro-text p {
    font-size: 20px;
    color: rgb(0, 0, 0);
    padding: 50px;
    display: block;
}

#answer p {
    position: relative;
    right: 250px;
    font-size: 75px;
    color:rgb(0, 0, 0);
    display: block;
}

#answer p1 {
    position: relative;
    top: -162px;
    right: -250px;
    font-size: 75px;
    color:rgb(0, 0, 0);
    display: block;
}

#answer p2 {
    position: relative;
    top: -410px;
    right: -250px;
    font-size: 75px;
    color:rgb(0, 0, 0);
    display: block;
}

#ans1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    position: relative;
    right: 250px;
    top: 30px;
}

#ans2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    position: relative;
    right: 250px;
    top: 50px;
}

#ans3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    position: relative;
    right: -250px;
    top: -98px;
}

#ans4 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    position: relative;
    right: -250px;
    top: -414px;
}

#intro-text h2 {
    font-size: 40px;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    padding: 10px;
    display: block;
}


#popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: none;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.overlay {
    /* display: none; */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.overlay-content {
    display: flex;
    flex-direction: column;
    height: 300px;
    margin-left: 300px;
    margin-right: 300px;
    background-color: white;
    padding: 20px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    justify-content: space-between;
}

.overlay-content h1 {
    align-items: center;
    text-align: center;
}

.circle {
    display: flex;
    color: white;
    justify-content: center;
    border : 10px solid #5db492;
    background-color: #181c2f;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    font-size: 70px;
    align-items: center;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
    visibility: hidden;

}

#popup img {
    max-height: 200px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid transparent;
    align-items:center
}

#myImage {
    position: absolute;
    left: 1px;
    top: 1px;
    width: 100px;
    height: 100px;
}

#sketch-holder {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.triangle {
    position: fixed;
    top: 0%;
    right: 0%;
    width: 0;
    height: 0;
    border: 31px solid transparent;
    border-top: 0;
    border-bottom: 45px solid red;
    border-bottom-left-radius: 38px;
    border-bottom-right-radius: 38px;
    transform: rotate(-45deg);
    z-index: 998;
}

.triangle2 {
    position: fixed;
    top: 0%;
    right: 0%;
    width: 0;
    height: 0;
    border: 25px solid transparent;
    border-top: 0;
    border-bottom: 36px solid rgb(255, 244, 244);
    border-bottom-left-radius: 38px;
    border-bottom-right-radius: 38px;
    transform: rotate(-45deg);
    z-index: 1999;
}

.triangle3 {
    position: fixed;
    top: 0%;
    right: 0%;
    width: 0;
    height: 0;
    border: 31px solid transparent;
    border-top: 0;
    border-bottom: 45px solid red;
    border-bottom-left-radius: 38px;
    border-bottom-right-radius: 38px;
    transform: rotate(-45deg);
    z-index: 1997;
}

.cursor {
    position: relative;
    z-index: 1999;
    top: 0%;
    left: 0%;
    visibility: hidden;
}

.diagonal-box {
	/* background-image: linear-gradient(45deg, #6303B1, #ff0099); */
    background-color: #e07e54;
    position: fixed;
    transform: rotate(-35deg);
    height: 40px;
    border-radius: 30px;
    width: 400px;
    left: 5%;
    top: 0%;
    overflow: hidden;
}
.content {
	max-width: 50em;
    margin: 0 auto;
}

.diagonal-box2 {
	/* background-image: linear-gradient(45deg, #6303B1, #ff0099); */
    background-color: #f5c13c;
    position: fixed;
    transform: rotate(-35deg);
    height: 40px;
    border-radius: 30px;
    width: 750px;
    top: 6%;
    left: 81%;
    overflow: hidden;
}

.diagonal-box3 {
	/* background-image: linear-gradient(45deg, #6303B1, #ff0099); */
    background-color: #9d4344;
    position: fixed;
    transform: rotate(-35deg);
    height: 80px;
    border-radius: 60px;
    width: 600px;
    top: 40%;
    left: -6%;
    overflow: hidden;
}

.diagonal-box4 {
	/* background-image: linear-gradient(45deg, #6303B1, #ff0099); */
    background-color: #2e4a82;
    position: fixed;
    transform: rotate(-35deg);
    height: 80px;
    border-radius: 60px;
    width: 800px;
    top: 60%;
    left: 70%;
    overflow: hidden;
}

#button1 {
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: rgb(255, 255, 255);
    background-color: #5db492;
    font-family: 'ABCDiatype';
    margin-top: 40px;
    margin: auto;
    margin-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 120px;
    padding-right: 120px;
    width: 100px;
    text-align: center;
    border-radius: 55px;
    border: none;
}

#button2 {
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: rgb(255, 255, 255);
    background-color: #5db492;
    font-family: 'ABCDiatype';
    margin-top: 40px;
    margin: auto;
    margin-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 120px;
    padding-right: 120px;
    width: 100px;
    text-align: center;
    border-radius: 55px;
    border: none;
}


.container {
    display: flex;
    margin-top: 70px;
    justify-content: center;
}

.container img {
    max-height: 500px;
    width: 200px;
    margin: 10px;
    border: 3px solid transparent;
    margin-left: 50px;
    margin-right: 50px;
}

.container img:hover {
    border: 3px solid black;
}

#warning {
    display: none;
    width: 400px;
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    border : 5px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#warn {
    height: 200px;
}