body {
    margin: 0;
    font-family: Arial, sans-serif;
}

#intro-text {
    width: 100%;
    text-align: center;
    margin-top: 0px;
}

#intro-text h1 {
    font-size: 40px;
    color: rgb(0, 0, 0);
    background-color: #44ff00;
    padding: 30px;
    display: block;
}

#intro-text p {
    font-size: 40px;
    color: rgb(0, 0, 0);
    padding: 50px;
    display: block;
}

#intro-text h2 {
    font-size: 40px;
    color: rgb(0, 0, 0);
    background-color: #3200f8;
    padding: 10px;
    display: block;
}

#start {
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: 300px;
    margin-right: 300px;
    font-size: 20px;
}

#countdown {
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: 300px;
    margin-right: 300px;
    font-size: 50px;
}